<h1>Add User</h1>

<form method="post" action="/newuser">
	<p>	
		<input type="text" name="firstname" placeholder="First Name" />
	</p>
	<p>	
		<input type="text" name="lastname" placeholder="Last Name" />
	</p>
	<p>	
		<input type="text" name="username" placeholder="Username" />
	</p>
	<p>	
		<input type="text" name="age" placeholder="age" />
	</p>
	<button type="submit"> Submit User</button>
</form>

<a href='/users'>Users</a>

